
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<body>

    <h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">DVT First Learnership Program.</h2>
    <img src="~/Content/images/Dvt first learners.jpg" style="width:304px;height:228px;">

</body>
</html>



<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">About</h2>
<div>
    <p>DVT’s Learnership programme is a work based learning programme that leads to an NQF registered qualification. Our programme is directly related to an occupation or field of work. DVT currently has two types of Learnership programmes which are IT Systems Development and Finance Bookkeeping.</p><br />

    <p>Our Learnership Programmes are registered with the MICT SETA. Learners have the privilege of being mentored and coached by extremely qualified employees during their workplace experience. The training providers we use are industry leaders in the field of study.</p><br />

    <p>When you join the Learnership Programme you will become part of a 24 month programme with milestones and certifications including international certifications over this period; this will allow you maximum exposure to various technologies in order to assist you to make an informed career choice.</p>
</div>
<!-- end section -->

<div class="one_half last">
    <p>Because the aim for the Learnership programme is to have learners employable at the end, we have two parts to the programme, you go through the first year and acquire your NQF level 5. Thereafter the following 12 months the same group move on to acquiring an NQF level 6 (Diploma)</p><br />

    <p>We take learners through a journey within the period that they are in the workplace.  Here you get to incorporate what they learnt at campus and practice it in the workplace with the guidance of the DVT mentors.</p><br />

    <p>The benefits of a Learnership programme with DVT are that you get an opportunity to fast track gaining skills and knowledge and get to be mentored by industry leaders which differentiate our learnership programme from other learnerships programmes.  You also get to get real work experience while studying.</p><br />

    <p>At the end of the programme you will graduate and will be considered for entry into DVT’s prestigious Internship programme.</p>

    <a href="~/Content/Images/about_Prudence.pdf" title="About Modus" target="_blank"><i class="icon icon-file-pdf-o big-font"></i> Pdf</a>
</div>


