
@{
    ViewBag.Title = "EndUser";
}

<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">EndUser</h2>
<div>
    <p>
        The purpose of the qualification is to build the knowledge and skills required by learners in End User Computing. It is intended to empower learners to acquire knowledge, skills, attitudes and values required to operate confidently in the End User Computing environment in the South African community and to respond to the challenges of the economic environment.

        The qualification addresses the need in the workplace for nationally recognised qualifications, based on unit standards, which will allow learners with workplace experience in End User Computing to obtain recognition for prior learning.  The qualification provides a framework for learners to develop skills that will enable them to become competent in End User Computing. It introduces theoretical concepts of End User Computing and requires the application thereof, to develop a range of skills that will enable learners to be better-informed workers in their chosen industry. It provides a balanced learning experience that lays the foundation for access to further education, lifelong learning and to productive employment.

        These computer training courses will ensure that you will meet the computing needs for 21st-century employment. The majority of South Africans are not computer literate. This is largely due to economic conditions as well as the lack of facilities and institutions that teach this curriculum. Being computer literate improves your chances of being employed as many employers are now driven by technology.

        The following End User Computing course entails:

        Introduction to computers
        Excel
        Word
        Powerpoint
        Access
        Outlook
        Internet explorer
        computer training

        The course includes a Cd and a projector to facilitate the teaching process.

        The course duration is Week.

    </p>
</div>



