
@{
    ViewBag.Title = "Essentials";
}

<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Essentials</h2>
<div>
    <p>
        Microsoft offers a set of certifications that validate a software developer's expertise in Microsoft technologies. Certifications such as the Microsoft Certified Solutions Developer (MCSD) are achieved by passing a set of related certification exams, each with a different technology focus.
        Learning path objective:
        Prepare developers for Microsoft exam 70-484, Essentials of Developing Windows Store Apps Using C#.
    </p>

    <p>
        Target audience:
        This learning path is intended for software developers who are interested in passing Microsoft exam 70-484, a component of the following MCSD certifications.
    </p>
    <p>
        MCSD: Windows Store Apps
    </p>

    <p>Learning path course sequence:</p>

    <p>   Microsoft Design Principles.</p>
    <p>  Windows 8 – From Start to Store.</p>
    <p>    Building A Real-World Windows 8 Application Architecture Using MVVM.</p>
    <p>  Contracts and Extensions in Windows.</p>
    <p>   Windows 8.1: New Features for C#/XAML Developers.</p>
    <p>  Windows 8 Metro Connected Apps.</p>
    <p> Windows Azure Mobile Services.</p>
    <p>   Windows Azure Mobile Services.</p>

    <p>
        Learning path description:
        To begin, start with Jesse Liberty's start-to-store course, which provides a well rounded introduction to every facet of Windows Store application development. Follow that by taking a step back from the code while Michael Palermo provides an overview of five design principles you should follow when developing a Windows Store application. Then, watch Gill Cleeren demonstrate how to build testable and maintainable applications that employ the MVVM design pattern.
    <p>


        Once the fundamentals have been explored, Gill Cleeren's course on contracts and extensions provides coverage of exam topics such as the search and sharing contracts, file open and save contracts, settings and play to contracts, and extensions. Follow that with a look at what's new in Windows 8.1 for Windows Store application developers. Yacine Khammal's course on connected apps provides in-depth coverage on exam topics such as accessing HTTP services, tiles, toasts and push notifications.
    </p>

    <p> Finally, Matt Milner's course on Azure Mobile Services will prove useful for learning more about a key platform for providing back-end services to mobile applications, including coverage of exam topics relating to data APIs, identity and push notifications.</p>

</div>

