
@{
    ViewBag.Title = "Fundamentals";
}

<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Fundamentals</h2>

<div>
    <p>
        Without the foundation of great leadership, any company will eventually crumble. And with more than half of organizations lacking the internal leaders to effectively run their companies, there’s an urgent need to shift this tide.
    </p>

    <p>
        In the restaurant industry, we hear these same complaints from owners and operators. On one hand, they have employees who show promise, but who they feel aren’t quite ready yet for the responsibility. On the other hand, the employees they do promote all too often fail in the new role.
        Clearly, something is missing from the equation.
    </p>

    <h1 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Soft Skills Matter </h1>

    <p>1. A love for the company. Leaders need to love what they do. No one will love every minute task, but by and large, they should exude passionate and excitement about their position and company.</p>

    <p>2. A question-asker. Leaders certainly understand the value in listening, but they also relish in questioning the status quo. Their questions shouldn’t take on an inflammatory or accusatory tone though. Instead, they should garner introspection, discussion, or a new way of looking at an issue.</p>

    <p>3. A dreamer and goal-maker. Dreams and goals go hand in hand for leaders. An emphasis too heavy on dreams without the goals to get there isn’t productive. Effective leaders dream big, but also outline the steps they need to take to make it happen.</p>

    <p>4. A golden rule follower. Employees who go on to become the top leaders understand you must treat people the way you want to be treated. They value respect in the workplace, and know it’s a two-way street.</p>

    <p>5. A relationship-builder. Healthy relationships are key to a healthy company culture. Leaders value relationships with everyone – their coworkers, customers, and vendors. They adapt to each person and situation, knowing every encounter deserves a unique and personalized approach.</p>
</div>

<!DOCTYPE html>
<html>
<body>

    <h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">A Team Builder </h2>
    <img src="~/Content/images/Team builder.jpg" style="width:304px;height:228px;">

</body>
</html>

