@{
    ViewBag.Title = "Home Page";
}
<div class="nav row">
    <div class="col-md-4">
        <img src="~/Content/Images/logo modus.png" alt="Logo" width="120" height="120" />
    </div>
    <div class="col-md-8">
        <ul class="tab">
            <li><a href="~/Home/Index" class="tablinks" onclick="openCity(event, 'Home')">Home</a></li>
            <li><a href="~/Home/Register" class="tablinks" onclick="openCity(event, 'Registration')">SignUp</a></li>
            <li><a href="~/Home/Login/" class="tablinks" onclick="openCity(event, 'Login')">SignIn</a></li> 
            
           
            <li><a href="~/Home/Vacancy" class="tablinks" onclick="openCity(event, 'vacancy')">Learnership Vacancy</a></li>


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Modules

                    <span class="caret"></span>
                </a>



                <ul class="dropdown-menu">
                    <li><a href="/Home/SoftSkills">SoftSkills</a></li>
                    <li><a href="/Home/Fundamentals">Fundamentals</a></li>
                    <li><a href="/Home/EndUser">EndUser</a></li>
                    <li><a href="/Home/Programming">Introduction to c#</a></li>
                    <li><a href="/Home/Programming">Programming in c#</a></li>
                    <li><a href="/Home/Essentials">Essentials of developing windows store applications</a></li>
                </ul>
            </li>
        </ul>



        <div class="hero-unit">
            <h1 style="text-align: center; color:blue; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">System Development Learnership</h1>
           

        </div>

        


    </div>
</div>

<li><a href="/Home/About">About the Learnership.</a></li>



<li><a href="/Home/Tools">Learnership tools.</a></li>
<li><a href="/Home/Projects">Projects to be done.</a></li>



