
@{
    ViewBag.Title = "Programming";
}

<!DOCTYPE html>
<html>
<body>

    <video width="320" height="240" controls>
        <source src="~/Content/Computer Programming - A short interesting film - YouTube.MP4" type="video/mp4">
        <source src="~/Content/Computer Programming - A short interesting film - YouTube.MP4" type="video/ogg">
        Your browser does not support the video tag.
    </video>

</body>
</html>

<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Programming</h2>
<div>
    <p>
        C# (pronounced "C-sharp") is an object-oriented programming language from Microsoft that aims to combine the computing power of C++ with the programming ease of Visual Basic. C# is based on C++ and contains features similar to those of Java. C# is designed to work with Microsoft's .Net platform.
    </p>
    <p>
        C# Programming Guide

        Visual Studio 2015 Other Versions

        This section provides detailed information on key C# language features and features accessible to C# through the .NET Framework.
        Most of this section assumes that you already know something about C# and general programming concepts. If you are a complete beginner with programming or with C#, you might want to visit the C# Developer Center, where you can find many tutorials, samples and videos to help you get started.
        For information about specific keywords, operators and preprocessor directives, see C# Reference. For information about the C# Language Specification, see C# Language Specification.
    <p>Language Sections</p>
    <p>Inside a C# Programming</p>
    <p>Main(methods) and Command-Line Arguments (C# Programming Guide)</p>
    <p>Types (C# Programming Guide)</p>
    <p>Arrays (C# Programming Guide)</p>
    <p>Strings (C# Programming Guide)</p>
    <p>Statements, Expressions, and Operators (C# Programming Guide)</p>
    <p>Classes and Structs (C# Programming Guide)</p>
    <p>Properties (C# Programming Guide)</p>
    <p>Interfaces (C# Programming Guide)</p>
    <p>Indexers (C# Programming Guide)</p>
    <p>Enumeration Types (C# Programming Guide)</p>
    <p>Delegates (C# Programming Guide)</p>
    <p>Events (C# Programming Guide)</p>
    <p>Generics (C# Programming Guide)</p>
    <p>Iterators (C# and Visual Basic)</p>
    <p>LINQ Query Expressions (C# Programming Guide)</p>
    <p>Lambda Expressions (C# Programming Guide)</p>
    <p>Namespaces (C# Programming Guide)</p>
    <p>Nullable Types (C# Programming Guide)</p>
    <p>Unsafe Code and Pointers (C# Programming Guide)</p>
    <p>XML Documentation Comments (C# Programming Guide)</p>
</div>
