
@{
    ViewBag.Title = "Projects";
}

<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Projects</h2>
<div>
    <p>
        You going to design wpf windows form, for students whom enrolled for programming in c#, all their names must be in a database.
        Requirements for the App
    </p>
    <p> >Sql database use entity framework for connection.</p>
    <p> >Students must be able to LogIn and be able to view their names and update any problems they facing withing the class. </p>
    <p>>It must all save to the database. </p>

    <p>  Outcome of the Project.</p>
    <p> >you should be able to design database, be able to create tables  and relationships. </p>
    <p>  >use c# and xaml. </p>

    </p>
</div>
