
@{
    ViewBag.Title = "SoftSkills";
}

<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">SoftSkills</h2>

<!DOCTYPE html>
<html>
<body>

    <h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"></h2>
    <img src="~/Content/images/softskill.jpg" style="width:304px;height:228px;">

</body>
</html>


<div>
    <p>
        It's a "Noun"
        personal attributes that enable someone to interact effectively and harmoniously with other people.
    </p>

    <p>
        Soft skills is a synonym for "people skills." The term describes those personal attributes that indicate a high level of emotional intelligence.

        Unlike hard skills, which describe a person's technical skill set and ability to perform specific tasks, soft skills are broadly applicable across job titles and industries. It's often said that hard skills will get you an interview but you need soft skills to get -- and keep -- the job.
    </p>

    <p>
        Good manners, optimism, common sense, a sense of humor, empathy and the ability to collaborate and negotiate are all important soft skills. Other soft skills include situational awareness and the ability to read a situation as it unfolds to decide upon a response that yields the best result for all involved.

        Another important soft skill is adaptability.
    </p>

    <p>employee with this attribute has the ability to work in various situations equally well and move from one situation to another with ease and grace. The ability to be diplomatic and respectful even when there are disagreements is also a key soft skill. This skill requires the employee to maintain a professional tone and demeanor even when frustrated.</p>

    <p> employee with a high level of emotional intelligence has good communication skills. He can clearly articulate goals and can work in a team. He knows when to take a leadership role and when to sit back. He knows when to speak, when to listen and when to suggest a compromise.</p>
</div>
