
@{
    ViewBag.Title = "Tools";
}

<h2 style="text-align: center; color: orange; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Tools</h2>
<div>
    <img src="~/Content/dvt logo.png" style="width:115px;height:115px;" />
    <p>
        W3 schools, where you learn Html,Jquery, Css, Sql and Php.theres also Tutorials where you watch videos. <b>
        </b>
    </p>
    <p>
        Visual Studio, you can download it from DreamSpark free since you a student.<b>
        </b>
    </p>
    <p>
        lastly YouTube videos.

    </p>
</div>
