
@{
    ViewBag.Title = "Vacancy";
}

<h2>System Development Learnership</h2>
<h3>Requirements</h3>
<p>DVT Learnership Programme</p>

<p>Start your tertiary studies and gain real world working experience, with a learnership programme aimed at fast tracking your road to become an IT or business professional.</p>

<p>.Matric Certificate with Mathematics</p>
<p>.No tertiary qualification</p>
<p>.Strong academic results </p>
<p>.passion for IT/Finance</p>
<p>.Committed to working hard and continuous learning</p>

<li><a href="~/Home/LForm" class="tablinks" onclick="openCity(event, 'vacancy')">Apply</a></li>


